
.users{
 width:340px;
 background-color: black;

}

.user-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap:50px;
  justify-content: center;
  
}

.user-pic{
  height: 540px;
  width:340px;
  object-fit: cover;

}

.mid{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.born{
  font-size: 18px;
  color:blanchedalmond;
}

.name{
  font-size: 24px;
  color:blanchedalmond;

}

.summary{
  text-align:left;
  color:blanchedalmond;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
}

.addcricketers{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:20px;
  flex-wrap:wrap;
  background-color: blanchedalmond;
}

nav{
  font-size:30px;
  display:flex;
  gap:20px;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}

.buttons{
  display: flex;
  gap:40px;
  justify-content: center;
}



